<%= form_for(@recipe, remote: true, html: { class: 'pure-form'}) do |f| %>
  <fieldset>
    <legend>Add your favorite Recipe!</legend>

    <input name="recipe[url]" type="url" class="pure-input-2-3" placeholder="http://allrecipes.com/..." required>
  </fieldset>

  <fieldset>
    <input name="recipe[name]" type="text" class="pure-input-1-3" placeholder="Recipe name" required>
    <input name="recipe[submitter]" type="text" class="pure-input-1-3" placeholder="Your name" required>
    <button type="submit" class="pure-button pure-button-primary">Add Recipe!</button>
  </fieldset>
<% end %>
