<div id="content-wrapper">
  <h1 class="title">What will we have for christmas dinner?</h1>

  <div id="add-recipe">
    <%= render 'add_recipe' %>
  </div>

  <br>

  <table id="recipes-table">
    <thead>
      <tr>
        <th>rank</th>
        <th></th>
        <th>recipe name</th>
        <th>submited by</th>
        <th></th>
      </tr>
    </thead>

    <tbody id="recipe-rows">
      <%= render 'recipes', recipes: @recipes %>
    </tbody>
  </table>
</div>
